* {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
   }
  
  body {
      
      background-color: #ffff;
      font-family: Georgia, serif;
    text-align: center;
    margin: 0;
    text-align: center;
    letter-spacing: 2; 
    padding: 0;
    
    }

    #titulo1 {
      color: #854f2c;
    }
    
 
    /* Barra dos botões */
    

    nav {
      display: flex;
      justify-content: space-around;
      margin-top: 0px;
      align-items: center;
      color: #202020;
      background-color: #77A290;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
     display: flex;
    }
     
    li a {
     color:  #fbeed3;
     text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    }
    
    li a:hover {
      background-color: #6D997A;
    }            
    .login,
    .cadastro {
      padding: 10px 40px;
      font-size: 15px;
      border: none;
      border-radius: 5px;
      font-family: 'Poppins', sans-serif;
      cursor: pointer;
    }
    
    .login {
      color: #202020;
      background-color: #fff;
    }
    
    .cadastro {
      color: #fff;
      background-color: #42282c;
    }
    
    .cadastro:hover {
      background-color: #3d3d3d;
    }
    
    main {
      margin: 50px auto;
      width: 80%;
      max-width: 400px;
      text-align: center;
    }


    /* feedback-painel*/

  .painelfeedback {
    margin-top: 15px;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
      width: 80%;
      max-width: 400px;
      text-align: left;
    }
  
    .textrow {
      resize: none;
    }
    
    h2 {
      font-size: 20px
    
    /* ---- */
    
     
      }
    
      
      #username {
      border-radius: 7px;  
      background-color: #996b42;
      padding: 3px 30px;
      color: #996b42;
      font-size: medium;
      margin: 0% auto;
  
      }
      
      
      /* estrelas de 1 a 5*/
      .estrelas-nota {
        font-size: 0;
        direction: rtl;
      }
      
      .estrelas-nota  input {
        display: none;
      }
      
      .estrelas-nota  label {
        display: inline-block;
        font-size: 30px;
        color: #ccc;
        cursor: pointer;
      }
      
      .estrelas-nota  label:before {
        content: '★';
      }
      
      .estrelas-nota  input:checked ~ label {
        color: #42282c;
      }
      
      


      /* avaliacoes postadas*/

      #titulo2 {
        color: #854f2c;
      }
    
      .usuario {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        border-radius: 9px;
        border: 2px solid #42282c;
        padding: 10px;
        background-color: #c8e6d9;
        flex-direction: column;
        
      }
    
      .usuario img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 10px;
      
      }
    
      .usuario h3 {
        margin: 0;
      }
      
      .foto-avaliacao {
        display: flex;
      }
      
      .foto-avaliacao img {
        width: 100px;
        height: 100px;
        margin: 5px;
        border-radius: 5px;
      }
      
      #estrela {
        color: #42282c;
      }
 .floating-btn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #85572d;
            padding: 12px 24px;
            color: #ffffff;
            font-size: 14px;
            margin: 0px auto;
            border: none;
            border-radius: 20px;
        }
    
      .footer {
    bottom: 0;
    width: 100%;
    background-color: #77A290;
    color: #000000;
    text-align: center;
    padding: 20px;
}
