body {
    background-color: rgb(255, 255, 255);
      font-family: 'arial';
    text-align: center;
    }
#cadastro-aluno {
    margin-top: 60px;
}
#tipos {
    color: rgb(202, 224, 241)
}

 .btn-group {
    background-color: rgb(202, 224, 241);
  border: 1px solid rgb(202, 224, 241);
  color: white;
  padding: 15px 32px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  width: 100%;

}
.button {
    background-color: rgb(202, 224, 241);
    border: none;
    color: rgb(0, 28, 70);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
    #yoga {
        text-decoration: none; 
        font-size: 12px;
        font-weight:bold;
        color: rgb(0, 28, 70);
          background-color: rgba(188, 51, 51, 0);
           padding: 5px 10px; border-style: solid;
            border-width: 2px; 
            border-color: rgb(0, 28, 70);
             border-radius: 10px;
             display: inline-block}

    ul {
        list-style-type: upper-roman;
    font-family:'Candara';
text-align: justify;
    }