* {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    align-items: center;
    color: #202020;
    background-color: #77A290;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-weight: 800;
    font-size: 25px;
  }
  
  .nav-itens {
    list-style: none;
    display: flex;
    font-size: 18px;
    color: #fbeed3;
  }
  
  .nav-itens>li>a {
    padding-left: 20px;
    color: #fbeed3;
    text-decoration: none;
  }
  
  #af:hover {
    background-color: #6D997A;
    color: white;
    padding: 30px 8px;
    margin: auto;
  }
  
  .login {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: #202020;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
  }
  
  .cadastro {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #42282c;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
  }
  
  .cadastro:hover {
    background-color: #3d3d3d;
  }

.retangulo {
    background-image: url(https://live.staticflickr.com/65535/53630130141_4ea8508526_k.jpg);
    width: 100%;
    height: 300px;
    background-position: center;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9e2d4;
    padding: 30px;
}

.quadrado {
    background-image: url("https://live.staticflickr.com/65535/53630661827_b75f934e38_z.jpg");
    width: 500px;
    height: 400px;
    background-position: center;
    margin-bottom: 20px;
    border-radius: 200px;
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
}

.texto {
    text-align: justify;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    background-color: #77A290;
    color: #000000;
    text-align: center;
    padding: 20px;
}
