*{
    padding: 0;
    margin: 0;
    font-family: 'Arial';
    box-sizing: border-box;
}

body{
width: 100%;
min-height: 100vh;
}

section{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

section div.blackground-section{

    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}
section div.blackground-section video{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

section div.box{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.9),
    transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
section div.box div.conteudo{
width: 80%;

}

section div.box p{
color: white;
font-size: 24px;
line-height: 32px;
}

@media screen and (max-width: 1024px){

    section div.box{
        width: 100%;
        padding: 2%;
        background: rgba(0, 0, 0, 0.4);
    }
    section div.box div.conteudo{
    width: 80%;
    text-align: center;
    

}
